@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #f9f5ea;
  --foreground: #f9f5ea;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f9f5ea;
    --foreground: #f9f5ea;
  }
}

body {
  direction: rtl;
  background: var(--background);
  color: var(--foreground);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.primary_bg{ background-color: #f9f5ea}
.secondary_bg{ background-color: #f5e6cf}
.primary_comp_bg{ background-color: #314d71}
.secondary_comp_bg{ background-color: #f25b5a}
.thirdly_comp_bg{ background-color: #f25a5a}
.four_comp_bg{background-color: #2b8f63;}


.red{ color: #f25b5a}


.shadow_box{
box-shadow: 3px 3px 0px 1px rgba(0,0,0,1);
-webkit-box-shadow: 3px 3px 0px 1px rgba(0,0,0,1);
-moz-box-shadow: 3px 3px 0px 1px rgba(0,0,0,1);
}
